<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p>Hi <%= @user.first_name %>, </p>
  <p><%= @inviting_user.first_name %> has invited you to the <%= @group.title %> group on Bar Buddy</p>
  <p>Please follow the link to have your say on what bar your group goes to on <%= @date_of_outing %> at <%= @time_of_outing %>. Please click <a href="<%= @preselected_bars_url %>">here</a> to vote on the bars you want to go to.</p>
  <p>We hope you have a great time,</p>
  <p>The Bar Buddy Team</p>
</body>
</html>
