<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Winning Bar Announcement</title>
</head>
<body>
    <p><%= @winning_bar.name %> !!! </p>
    <p>Hi <%= @user.first_name %> <%= @user.last_name %>, you will be attending <%= @winning_bar.name %> on <%= @date_of_outing %> at <%= @time_of_outing %>.</p>
    <p>Happy barring!</p>
    <p>The Bar Buddy Team</p>
</body>
</html>
