<%= turbo_stream_from "votes" %>
<h1>Your vote's in!</h1>
<h4>
  <% if @member_votes_status.values.all? { |status| status == "Votes Complete" } %>
    The results are in!
  <% else %>
    We will notify you when the results are in!
  <% end %>
</h4>

<% @member_votes_status.each do |member, status| %>
  <% user = member.user %>
  <p id="vote_status_<%= user.id %>">
    <%= user.first_name %> <%= user.last_name %> -
    <% if status == :complete %>
      <i class="fas fa-check" style="color: green;"></i>
    <% else %>
      <i class="fas fa-times" style="color: red;"></i>
    <% end %>
  </p>
<% end %>

<% if @member_votes_status.values.all? { |status| status == "Votes Complete" } %>
  <%= link_to "See The Winning Bar", verdict_group_path(@group), class: "btn btn-primary" %>
<% else %>
  <%= link_to "Go to Dashboard", dashboard_path, class: "btn btn-primary" %>
<% end %>
