<div class="main-content dashboard">
  <h3>Hi, <%= current_user.first_name %>!</h3>

  <!-- Active groups -->
  <div class="group-container">
    <h5>Active groups</h5>
    <div class="group-list">
      <% @active_groups.each do |group| %>
          <%= link_to group_path(group), class:"group-card" do %>
            <p class="card-title">
              <%= group.title %>
            </p>
            <div>
              <% if group.winning_bar.present? %>
                <i class="fa-solid fa-check"></i>
              <% else %>
                <i class="fa-regular fa-clock"></i>
              <% end %>
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>

  <!-- Past groups -->
  <div class="group-container">
    <h5>Past groups</h5>
    <div class="group-list">
      <% if @past_groups.any? %>
        <% @past_groups.each do |group| %>
          <%= link_to group_path(group), class:"group-card" do %>
            <p class="card-title">
              <%= group.title %>
            </p>
            <div>
              <% if group.winning_bar.present? %>
                <i class="fa-solid fa-check"></i>
              <% else %>
                <i class="fa-regular fa-clock"></i>
              <% end %>
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>No past groups available.</p>
      <% end %>
    </div>
  </div>
</div>
