<div class="dashboard">
  <div class="greeting">
    <p class="hi-emoji">👋</p>
    <h3>Hi, <%= current_user.first_name %>!</h3>
  </div>

  <!-- Active groups -->
  <div class="group-container">
    <h5>Active groups</h5>
    <div class="group-list">
      <%= turbo_stream_from "active_groups" %>
      <% @active_groups.each do |group| %>
        <%= render 'groups/group_card', group: group %>
      <% end %>
    </div>
  </div>

  <!-- Past groups -->
  <div class="group-container">
    <h5>Past groups</h5>
    <div class="group-list">
      <%= turbo_stream_from "past_groups" %>
      <% if @past_groups.any? %>
        <% @past_groups.each do |group| %>
          <%= render 'groups/group_card', group: group %>
        <% end %>
      <% else %>
        <p>No past groups available.</p>
      <% end %>
    </div>
  </div>
  </div>
