<div class="gradient-body">
  <div class="preselected-bar-content">
  <h6 class="summary">
    Matches for <%= @group.title %> on <%= @group.date_of_outing.strftime("%a, %e %b") %>
  </h6>

  <%= form_tag({ controller: "votes", action: "create" }, method: :post, data: { controller: "swiper" }) do %>
    <!-- Slider main container -->
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <% @preselected_bars.each do |preselected_bar| %>
          <div class="swiper-slide">
            <!-- Bar name, address, rating -->
            <div>
              <h4><%= preselected_bar.bar.name %></h4>
              <p class="address"><%= preselected_bar.bar.display_address %></p>
              <!-- Rating -->
              <div class="rating">
                <% barRating = preselected_bar.bar.rating.round %>
                <% missingStar = 5 - barRating %>
                <div>
                  <% barRating.times do %>
                    <i class="fa-solid fa-star fa-xs" style="color: rgb(0, 0, 0, 0.8);"></i>
                  <% end %>
                  <% missingStar.times do %>
                    <i class="fa-solid fa-star fa-xs" style="color: rgba(0, 0, 0, 0.2);"></i>
                  <% end %>
                </div>
                <p class="rating-in-int"><%= preselected_bar.bar.rating %></p>
              </div>
            </div>
            <!-- Thumbnail image -->
            <div class="thumbnail-container-rectangle" data-controller="image-swiper">
              <%= image_tag preselected_bar.bar.image_url, alt: "Thumbnail image of #{preselected_bar.bar.name}" %>
            </div>
            <!-- Bar description -->
            <div class="description">
              <p><%= preselected_bar.bar.description %></p>
              <%= link_to "More info", "#", data: { bs_toggle: "modal", bs_target: "#barModal_#{preselected_bar.bar.id}" }, class: "hyperlink text-center" %>
            </div>
            <!-- Voting buttons (changed radio buttons into buttons to match UI and easier interaction) -->
            <div class="voting-buttons">
              <button class="bb-btn-circle bb-bkg-reject" type="button" data-action="click->swiper#swipeNext" data-value="false"><i class="fa-solid fa-xmark"></i></button>
              <button class="bb-btn-circle bb-bkg-accept" type="button" data-action="click->swiper#swipeNext" data-value="true"><i class="fa-solid fa-check"></i></button>
            </div>
            <!-- Modal -->
              <div class="modal fade" id="barModal_<%= preselected_bar.bar.id %>" tabindex="-1" aria-labelledby="barModalLabel_<%= preselected_bar.bar.id %>" aria-hidden="true" data-backdrop="false" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="barModalLabel_<%= preselected_bar.bar.id %>"></h5>
                    </div>
                    <div class="modal-body">
                      <%= render 'bars/show', bar: preselected_bar.bar%>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>
