<p class="summary">
Suggestions for <%= @group.date_of_outing %> in Brunswick for <%= @group.title %>
</p>

<%= form_tag({ controller: "votes", action: "create" }, method: :post) do %>
  <% @preselected_bars.each do |preselected_bar| %>
    <div class="bar-card-container">
      <h4><%= preselected_bar.bar.name %></h4>
      <p><%= preselected_bar.bar.display_address %></p>
      <p>Rating: <%= preselected_bar.bar.rating %></p>
      <div class="thumbnail-container">
        <%= image_tag preselected_bar.bar.image_url, alt: "Thumbnail image of #{preselected_bar.bar.name}" %>
      </div>
      <p>Rating: <%= preselected_bar.bar.description %></p>
      <div class="voting-buttons">
        <label>
          <%= radio_button_tag "vote_#{preselected_bar.id}", "true", checked: true %>
          Yes
        </label>
        <label>
          <%= radio_button_tag "vote_#{preselected_bar.id}", "false" %>
          No
        </label>
      </div>
    </div>
  <% end %>
  <%= submit_tag "Submit Votes" %>
<% end %>
