<%= form_tag({action: :create}, method: :post) do %>
   <div>
    <%= label_tag :area %>
    <%= text_field_tag :area, nil, required: true %>
  </div>

  <div class="outer-container">
  <div class="container">
    <% @characteristics.each do |characteristic| %>
      <div>
        <label>
          <%= check_box_tag 'preselected_bar[characteristic_ids][]', characteristic, false, id: "characteristic_#{characteristic}" %>
          <span><%= label_tag "characteristic_#{characteristic}", characteristic %></span>
        </label>
      </div>
    <% end %>
    <div>
      <%= submit_tag 'Create Preselected Bars', class: 'btn btn-primary' %>
    </div>
  </div>
  </div>
<% end %>
