<!DOCTYPE html>
<html>
  <head>
    <title>BarBuddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="view-transition" content="same-origin" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Swiper from CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- Flatpickr to enhance datepicker in our form -->
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag 'https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>
    <%= javascript_include_tag 'https://code.jquery.com/ui/1.13.0/jquery-ui.min.js' %>
  </head>

  <body data-controller="background-color" data-current-route="<%= request.path %>">
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>

  <!-- Swiper from CDN (script)-->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
 <!-- MAPBOX (script)-->
 <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
</html>
